stages:
  - build

build:
  stage: build
  image: node:22-alpine
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .next/cache/
  script:
    - npm ci
    - npm run build
  only:
    - master
    - merge_requests
